body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#client_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
}

.client_list_client {
    border: 1px solid #ddd;
    background-color: #f5f5fa;
    display: flex;
    padding: 2vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.client_list_client:hover {
    border: 1px solid #aaa;
    background-color: #f8f8ff;
}

.client_list_client.active {
    background-color: #fff;
}